h1 {
  text-align: left;
  color: white;
  text-shadow: 2px 2px 8px black;
}

#pagehd {
  color: white;
  text-shadow: 2px 2px 8px #d9d9d9;
}
body {
  padding: 80px;
}

h2, h4 {
  text-align: left;
  color: blue;
}

p {
  font-family: sans-serif;
  font-style: italic;
}

img {
  float: right;
  width: 500px;
  height: 300px;
}

.home {
  background-image: url("../images/resort-back.jpg");
  background-attachment: fixed;
}

.main {
  font-family: sans-serif;
  font-style: normal;
  background-color: #ffffcc
}

.list {
  font-style: italic;
  background-color: #ffff99
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}

.lista {
  float: left;
  background-color: #ffff80;
}
